@charset "UTF-8";  

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Dongle&family=Emilys+Candy&family=Macondo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Dongle&family=Emilys+Candy&family=Macondo&display=swap');

:root {
        --cor01: #BBA5CD;
        --cor02: #B8A3C7;
        --cor03: #744397;
        --cor04: #5C2891;
        --cor05: #4C1E76;

        --fontepadrao: arial, helvetica, serif;
        --fontedestaque: 'Emilys Candy', 'cursive', sans-serif;
        --fonteprincipal: 'Aclonica', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fontepadrao);
    background-color: var(--cor01);
}

header {
    background-image: linear-gradient(to top, var(--cor03), var(--cor05));
    box-shadow: 0px 1px 6px black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonteprincipal);
    font-size: 3em;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.312);
    padding: 15px;
}

header > p {
    font-size: 1.3em;
    padding: 0px 10px 20px 10px;
}

main { 
    background-color: white;
    margin: 0px 30px 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    font-family: var(--fontedestaque);
    background-image: linear-gradient(to right, var(--cor01), var(--cor02), transparent);
    color: var(--cor03);
    font-size: 2em;
    border-radius: 8px;
    padding: 4px;
    margin: 10px;
}

main p {
    margin: 15px 0px;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 1em;
    text-align: justify;
}

strong {
    color: var(--cor04);
}

img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.312);
}

main ul {
    list-style-position: inside;
    list-style-type: '\2714\0020'
}

main a {
    text-decoration: none;
    color: var(--cor04);
    padding: 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor05);
    background-color: var(--cor01);
    border-radius: 10px;
    
}

main a:active {
    color: var(--cor03);}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.312);
    padding: 0.5em;
}